h1 {
display:block;
margin:auto;
text-align:center;
padding:20px;
}

h2 {
color:#2e2e6b;
}

h3 {
color:#53452d;
}

h1, h2, h3 {
text-shadow:0px 1px grey;
}

body {
background-color:white;
}

main {
background-color:#f9f9eb;
width:50%;
margin:auto;
padding-left:50px;
padding-right:50px;
padding-top:30px;
padding-bottom:30px;
box-shadow:0px 0px 5px 2px grey;

}

nav ul {

padding:30px;

width:14%;
height:68%;
margin:auto;
margin-left:25px;

position:fixed;

list-style-type:circle;

box-shadow:0px 0px 5px 3px 	#e6e6e6 inset;
}

nav li {
margin:20px;
margin-bottom:35px;
}

nav li a {
color:black;
font-size:1.1em;
text-decoration:none;
}

nav li a:hover {
color:grey;
}


img {
width:80%;
display:block;
margin:auto;
}

figcaption {
text-align:center;
font-style:italic;
}

p {
font-size:1.2em;
}

hr {
width:80%;
margin-top:30px;
margin-bottom:30px;
color:grey;
}

footer {
text-align:center;
}
